<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Librairie Online
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/listeTomes">Listes des tomes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#/contactUs">Nous contacter</a>
      </li>
    </ul>
  </div>
</nav>
