<body>
  <br><br>
  <div class="container">
    <div *ngFor="let bookItem of bookList" class="card">
      <a [routerLink]="['/book', bookItem.id]">
        <lib-books-details [bookItem]="bookItem"></lib-books-details>
      </a>
    </div>
  </div>
</body>
