<igx-carousel class="col-md-12">
  <igx-slide style="text-align: center">
    <p><img src="https://image.noelshack.com/fichiers/2019/17/4/1556174244-test2.jpg"></p>
  </igx-slide>
  <igx-slide style="text-align: center">
    <p><img src="https://image.noelshack.com/fichiers/2019/17/4/1556174412-test3.jpg"></p>
  </igx-slide>
  <igx-slide style="text-align: center">
    <p><img src="https://image.noelshack.com/fichiers/2019/17/4/1556182872-test4.jpg"></p>
  </igx-slide>
</igx-carousel>
